/************

COMMON

************/

body{
    font-family: "monospace", sans-serif;
}

.font-primary{
    color: blue
}

.title-icon{
    font-size: 18px;
    font-weight: bold;
}

a.font-black {
    color: black !important;
}

/*****************

ABOUT

*****************/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: green;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}

#about .email {
    margin-top: 14px;
    font-size: 14px;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

/********************

PROJECTS

********************/

#projects {
    margin: 60px auto;
    width: 80%
}

#projects h2 {
    text-align: center;
}

#projects .card img {
    width: 110%
}

.bi-github::before{
    color: gray;
}

.bi-facebook::before{
    color: gray;
}

#projects .card-title {
    font-weight: bold;
}

